ul.link-list {
  scroll-margin-top: 50px;
}

li {
  list-style: none;
  /* justify-content: center; */
  /* align-self: center; */
  /* max-width: 400px; */
  /* margin: 20px auto; */
  /* display: flex; */
  margin-block: 10px;

  background: rgb(169, 194, 206);
  color: black;
  padding: 5px;
  border-radius: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

a {
  font-weight: 500;
  color: #0a12b4;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.input-link {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 190px;
}

.add-link {
  border-radius: 5px;
  border: none;
  background-color: rgb(45, 174, 206);
  cursor: pointer;
  margin: 10px;
  bottom: 11px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 6px;
  padding-left: 6px;
  max-width: fit-content;
}

.link-container {
  align-items: center;
  overflow-y: auto; /* Adds scroll if too many links */
  overflow-y: auto; /* Enable scrolling if the list gets too long */
  max-height: 300px; /* Prevents it from growing infinitely */
  justify-content: space-between;
}

button{
  border-radius: 10px;
border: none;
justify-content: space-between;
}
