.date-time {
    display: block;
    padding: 0%;
    margin: center;
    max-width: 200px;
    max-block-size: 200px;
    text-align: center;
    border-radius: 10px;
    color: rgb(10, 7, 14);
    background-color: rgb(116, 221, 221);
  }

  #note-box{
  /* padding-bottom: 129px;   */
   /* boxen i sig */
 border-style: solid; 
 
} 

textarea {
     width: 100%;
    height: 100%; 
    border: none;
    padding: 10px;
    font-size: 14px;
    margin-inline: 100px;
    margin-top: 10px;
  }

  
.text {
    position: relative; /*keep it in place*/
    top: 0%;
    margin-bottom: 10px; /*adds spacing below*/
  }