/* fonten */
* {
  margin: 0 auto;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  
}
body {
  background-image: url(/images/pexels-stywo-1054218.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  place-items: center;

}

.header {
  padding: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  /* gap: 10px; */
  text-align: center;
  white-space: nowrap;

}

.inner-cards {
  display: grid;
  flex-direction: column;
  padding: 20px;
  height: 330px;
  width: 230px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(77, 83, 83, 0.432);
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h3.text {
  margin: 10px auto;
  display: flex;
  align-content: center;
  justify-content: center;
}



